body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 10px;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#searchInput {
    width: 60%;
    padding: 15px;
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 10px;
    border: 3mm solid #FFD700; /* Dorado */
    outline: none;
    font-size: 18px;
}

#searchButton {
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    background-color: #FF0000; /* Rojo */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

section h2 {
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
}

.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.image-row img {
    width: 30%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    border: 3mm solid #FFD700; /* Dorado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    #searchInput {
        width: 80%;
    }

    .image-row img {
        width: 80%;
    }
}
