body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Fondo oscuro para destacar elementos */
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #00ffcc; /* Texto con color neón */
    text-shadow: 0 0 5px #00ffcc, 0 0 15px #00ffcc;
}

.search-container {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    position: relative;
}

.search-container input[type="text"] {
    width: calc(100% - 120px); /* Espacio para los botones */
    padding: 15px 20px;
    font-size: 16px;
    border: 2px solid #00ffcc; /* Borde neón */
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
    color: #333;
    background: #fff;
    margin-right: 10px;
}

.search-container input[type="text"]:focus {
    border-color: #00ffcc;
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}

.search-container button {
    display: inline-block;
    background-color: #00ffcc;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px;
}

.search-container button:hover {
    background-color: #007f66;
    transform: scale(1.05);
}

.search-container button:active {
    transform: scale(1);
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 30px auto;
    width: 90%;
}

#gallery img {
    max-width: 100%;
    max-height: 150px; /* Altura ajustada para evitar imágenes demasiado grandes */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #111;
    color: #00ffcc;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}
